*{
	margin: 0;
	border: 0;
	padding: 0;
}
body{
	width: 100%
}
#contenedor{
	width: 100%;
}
header{
	width: 100%;
	background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 30%);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px 0%;
	height: 80px;
}
#check{
	display: none;
}
.checkbtn{
	display: none;
}
#logo{
	width: 8%;
	height: 100%;
	margin: 0px 0px 0px 5.2%;
}
#logo img{
	width: 100%;
	margin: 15px 0px 0px 0px;
}
#menu{
	width: 42%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	margin-left: 5%;
    height: 100%;
}
ul,li{
	list-style: none;
}
.lmenu{
	width: 25%;
    padding: 30px 0px 0px 0px;
    text-align: center;
}
.lmenu:hover{
	border-bottom: 3px solid#0098D8;
}
.lt{
	width: 100%;
	text-decoration: none;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #232f3e;
	display: flex;
	flex-direction: row;
	height: 50px;
	padding: 0px 0px 0px 30px;
}
.lt svg{
	width: 15px;
	height: 20px;
}
.lt:hover > svg{
	transform: rotate(180deg);
}
.lmenu:hover > .la{
	display: block;
	top: -50px;
}
.la{
    z-index: 1;
	width: 190%;
	display: none;
	text-align: left;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    box-shadow: 0 0 16px rgb(0 0 0 / 20%);
}
#aprender{
	width: 235%;
}
.ls{
	width: 100%;
	padding: 10px 20px;
	z-index: 1;
}
.ls a{
	width: 100%;
	text-decoration: none;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #161e2d;
	padding-left: 10px;
	transition-property: border-left;
	transition-duration: 0.3s;	
	z-index: 1;
}
.ls a:hover{
	border-left: 3px solid #0098D8;
}
.signup{
	width: 10%;
	text-decoration: none;
	text-align: center;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #f90;
    border: 2px solid #f90;
    box-shadow: 0 0 16px rgb(0 0 0 / 20%);
    color: #232f3e;
    border-radius: 50px;
    margin: 20px 0px 20px 18%;
    padding: 8px 0px 0px 0px;
}
#abrirb{
	width: 3%;
	margin-top: 30px;
	margin-left: 2%;
	cursor: pointer;
	color: #a9a9a9
}
#abrirb:hover{
	color: #0098D8;
}
.btnshearch svg:hover{
	background-color: #0098D8;
}
#buscar{
	width: 100%;
	background-color: #0098D8;
	display: none;
	flex-direction: column;
	z-index: 100;
}
#buscar svg{
	width: 5%;
	margin: 5px 2% 0px 95%;
	color: #fff;
	font-size: 30pt;
	cursor: pointer;
}
.cerrar{
	display: none;
	color: blue;
}
#buscar input{
	width: 45%;
	margin: 0px 27.5%;
	padding: 20px 10px;
	font-size: 15pt;
	border: 0px solid#fff;
	border-radius: 10px;
}
.contsearch{
	width: 45%;
	margin: 0px 27.5%;
	display: flex;
	flex-direction: row;
	color: #fff;
	font-size: 12pt;
	padding: 15px 0px 30px 0px;
	font-family: AEmb , Helvetica, Arial, sans-serif;
}
.contsearch span{
	margin-left: 0px;
	width: 20%;
}
.vdr{
	color: #fff;
	width: 20%;
}
.cpa{
	color: #fff;
	width: 40%;
}

/*Footer*/ 
#footer{
	width: 100%;
	background-color: #161E2D;
	color: #fff;
	text-decoration: none;
}
#btns{
	width: 35%;
	margin: 0px 7.5% 0px 57.5%;
	padding: 20px 0px 20px 0%;
	display: flex;
	flex-direction: row;
}
#btns a{
	width: 40%;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 10pt;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
#btns a svg{
	color: #fff;
	margin-right: 5px;
}
.ingles{
	width: 20%;
}
.ingles img{
	border-radius: 100%;
	width: 9%;
	margin: 0px 7px 0px 0px;
}
#urls{
	width: 85%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 3px solid #6C7778;
	border-bottom: 3px solid #6C7778;
	margin: 0px 7.5%;
	padding: 40px 0px;
}
.c1{
	width: 18%;
}
.c2{
	width: 16%;
}
.c3{
	width: 16%;
}
.c4{
	width: 10%;
}
.c5{
	width: 11%;
	margin-right: 2%;
}
.titulo{
	width: 100%;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 10pt;
}
.url{
	width: 100%;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 10pt;
	color: #fff;
	text-decoration: none;
}
.url:hover{
	border-bottom: 2px solid #0099D9;
}
footer{
	width: 85%;
	margin: 0px 7.5%;
	padding: 20px 0px;
	display: flex;
	flex-direction: row;
}
footer img{
	width: 7%;
}
#footer-content{
	width: 45%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 43%;
}
#footer-content a{
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 9pt;
	width: 25%;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
#footer-content a:hover{
	border-bottom: 2px solid #0099D9;
}
#footer-content p{
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 9pt;
	width: 50%;
	text-align: right;
}
