*{
	margin: 0;
	border: 0;
	padding: 0;
}
body{
	width: 100%
}
#header{
	width: 100%;
	display: flex;
}
#checkbtn{
	display: none;
}
.btnmenu{
	display: none;
}
.contentheader{
	width: 100%;
	display: flex;
}
header{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80px;
	background-color: #fff;
	position: fixed;
	z-index: 100;
}
header img{
	width: 15%;
	margin: 15px 0px 0px 3%;
}
.nav{
	width: 40%;
	margin: 20px 0px 20px 7%;
}
.nav-item{
	width: 25%;
}
.btn-ins{
	margin: 20px 2% 20px 17%;
	width: 10%;
	border-radius: 30px;
	background-color: #0098D8;
	color: #fff;
}
.btn-search{
	width: 10%;
	margin: 20px 0px 20px 0%;
}
.bi-search{
	width: 100%;
}
.bi-search:hover{
	color: #0098D8;
}
#collapseExample{
	width: 100%;
}
.buscar{
	position: fixed;
	width: 100%;
	background-color: #0098D8;
	top: 80px;
	z-index: 99;
}
.card{
	border-radius: 0px;
	background-color: transparent;
	border: 0px;
	width: 100%;
}
.btn-close-white{
	width: 5%;
	margin-left: 90%;
}
.container-fluid{
	width: 50%;
	display: flex;
	flex-direction: row;
	background-color: transparent;
}
.form-control{
	width: 90%;
	padding: 20px;
}
.btn-outline-info{
	width: 10%;
}
.contsearch{
	width: 45%;
	margin: 0px 27.5%;
	display: flex;
	flex-direction: row;
	color: #fff;
	font-size: 12pt;
	padding: 15px 0px 20px 0px;
	font-family: AEmb , Helvetica, Arial, sans-serif;
}
.contsearch span{
	margin-left: 0px;
	width: 20%;
}
.vdr{
	color: #fff;
	width: 20%;
	transition-property: all;
	transition-duration: 1s;
}
.cpa{
	color: #fff;
	width: 40%;
	transition-property: all;
	transition-duration: 1s;
}
#inicio{
	width: 100%;
}
.img-f{
	width: 75%;
}
.n11{
	display: flex;
	flex-direction: column;
}
.n11 h1{
	margin: 150px 0px 50px 10%;
	font-family: 'PT Sans', sans-serif;
	font-size: 90px;
	color: #232f3e;
}
.n11 a{
	width: 30%;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 25px;
	text-decoration: none;
	background-color: #0098D8;
	color: #fff;
	text-align: center;
    border-radius: 50px;
    margin: 0px 0% 20px 10%;
    padding: 15px 30px;
}
.n11 span{
	width: 35%;
	margin-left: 10%;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #232f3e;
	margin-bottom: 80px;
}
.n22{
	width: 100%;
	display: flex;
	flex-direction: row;
    background-color: #EBF8FA;
	padding: 100px 0px;
}
.p-3{
	background-color: #fff;
	border-radius: 10px;
	height: 410px;
}
.card-img-top{
	width: 22%;
	margin-left: 10%;
	padding: 20px 0px 0px 0px;
}
.card{
	border: 0px;
}
.card-body{
	background-color: #fff;
}
.card-title{
	color: #232f3e;
	padding-bottom: 10px
}
.card-text{
	color: #232f3e;
	padding-bottom: 25px;
	height: 150px;
	line-height: 23px;
	margin-bottom: 5px;
}
.card-link{
	text-decoration: none;
	color: #000;
}
.n33{
	background-color: #232F3E;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 30px;
}
.hde{
	width: 94%;
	margin-left: 6%;
}
.nset{
}
.txal{
	text-align: center;
}
.dcl{
	margin-top: 30px;
	border-bottom: 1px solid #a9a9a9;
}
.conts{
	padding: 50px 0px;
}
.slcont{
	width: 88%;
	margin: 0px 6%;
	padding-bottom: 50px;
	border-bottom: 1px solid #a9a9a9;
}
.btn-link{
	width: 100%
}
.btn-link img{
	width: 100%;
	border-radius: 10px;
}
.txsli{
	margin: 0px;
}
.slcont-o{
	width: 50%;
}
.s1{
	width: 90%;
	margin-top: 70px;
}
.carousel-control-prev{
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 100%;
	border: 1px solid #fff;
}
.carousel-control-next{
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 100%;
	border: 1px solid #fff;
}
.modal{
	color: #000;
	background-color: transparent;
}
.ifsl{
	width: 100%;
}
.register{
	width: 100%;
    background-color: #EBF8FA;
	display: flex;
	flex-direction: row;
	height: 400px;
	padding: 190px 0px;
}
.rgl1{
	width: 40%;
	display: flex;
	flex-direction: row;
}
.rgl2{
	width: 36%;
	display: flex;
	flex-direction: row;
}
.h61{
	width: 100%;
	text-align: right;
}
.lire{
	width: 100%;
	display: flex;
	flex-direction: row;
	text-decoration: none;
	transition-property: color, padding;
	transition-duration:  0.5s;
	color: #000;
}
.lire:hover{
	color: #0098D8;
	padding: 0px 0px 0px 10px;
}
.h62{
	width: 99%;
	margin-left: 30px;
	margin-right: 0px;
}
.h62:hover{
	color: #000;
}
.suscribir{
	width: 100%;
	padding: 100px 0px 150px 0px;
}
.container-s{
	width: 40%;
	margin-left: 7%;
}
.container-s form{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.s-h1{
	width: 100%;
	font-size: 50pt;
	margin-bottom: 30px;
}
.s-h5{
	width: 100%;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 50px;
}
.s-email{
	width: 70%;
    background-color: #EBF8FA;
    border-left-right-top: 0px solid transparent;
    border-bottom: 1px solid #000;
    padding: 10px;
	font-size: 14px;
}
.s-suscribir{
	width: 25%;
	border-radius: 30px;
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
	margin-left: 5%;
}
.s-span{
	width: 100%;
	font-size: 11px;
}
footer{
	width: 100%;
	background-color: #161E2D;
}
.f1{
	width: 90%;
	margin: 0px 5%;
	padding-left: 45%;
	border-bottom: 2px solid #6C7778;
}
.btn-foo{
	width: 180px;
	color: #fff;
	margin: 20px 0px;
}
.btn-foo:hover{
	background-color: #232F3E;
	border-radius: 20px;
	color: #fff;
}
.mundo{
	width: 13%;
	border-radius: 100%;
}
.eu{
	width: 13%;
}

#f2{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 3px solid #6C7778;
	border-bottom: 3px solid #6C7778;
	margin: 0px 5%;
	padding: 40px 0px;
}
.c1{
	width: 18%;
	list-style: none;
}
.c2{
	width: 16%;
	list-style: none;
}
.c3{
	width: 16%;
	list-style: none;
}
.c4{
	width: 10%;
	list-style: none;
}
.c5{
	width: 11%;
	margin-right: 2%;
	list-style: none;
}
.titulo{
	width: 100%;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 10pt;
	color: #fff;
}
.url{
	width: 100%;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 10pt;
	color: #fff;
	text-decoration: none;
}
.url:hover{
	border-bottom: 2px solid #0099D9;
	color: #fff;
}
.f3{
	width: 85%;
	margin: 0px 7.5%;
	padding: 20px 0px;
	display: flex;
	flex-direction: row;
}
.f3 img{
	width: 13%;
	opacity: 0.7;
}
#footer-content{
	width: 45%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 43%;
}
#footer-content a{
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 9pt;
	width: 25%;
	text-align: center;
	color: #fff;
	text-decoration: none;
	padding-top: 20px;
}
#footer-content a:hover{
	border-bottom: 2px solid #0099D9;
}
#footer-content p{
	font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 9pt;
	width: 50%;
	text-align: right;
	color: #fff;
	padding-top: 20px;
}
form{
	width: 100%;
	background-color: #fff;
	padding: 40px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
form span{
	width: 90%;
    margin-left: 10%;
    font-size: 16pt;
}
.estrellas{
	width: 90%;
    margin-left: 10%;
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	margin-top: 15px;
}
.estrellas input{
	width: 10%;
	display: none;
}
.estrellas label{
	width: 50px;
	height: 50px;
	margin: 0px 0px 0px 10px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
}
.estrellas label .est{
	width: 100%;
	height: 100%;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background-color: #fff;
}
.estrellas label .est:hover{
	background-color: #daa520;
}
.rea select{
	width: 45%;
	border: 1px solid #000;
	border-radius: 5px;
    margin-left: 10%;
    padding: 20px 10px;
    margin-right: 44%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.rea select option{
	width: 80%;
    margin-left: 5%;
    padding: 20px 10px;
}
.rea textarea{
	width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 25px 15px 15px 15px;
    height: 150px;
    margin-right: 7%;
}
#privace{
	width: 50%;
	margin-top: 90px;
}
#privace p{
	width: 100%;
	border-radius: 5px;
	clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 56% 92%, 49% 100%, 41% 92%, 0 92%);
	padding: 15px 15px 30px 15px;
	background-color: #232F3E;
	color: #fff;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	display: none;
}
#privace a{
	width: 100%;
    margin-left: 10%;
    color: #636D6e;
}
#enviar{
	width: 100px;
    margin-left: 10%;
    background-color: #636D6e;
    color: #fff;
    font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 50px;
	padding: 10px 0px;
	margin-top: 80px;
}
.idm{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.idmf{
	text-align: center;
} 
.idmbody{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.idioma{
	width: 50%;
	cursor: pointer;
}
.idioma:hover{
	border-left: 3px solid #0099D9;
}
.form-check-label img{
	width: 20px;
}


/*Responsive en celular*/

@media only screen and (min-device-width : 270px) and (max-device-width : 600px){
	#header{
		background-color: #0099D9;
		width: 100%;
		padding: 10px 0px;
		position: absolute;
		z-index: 110;
	}
	.btnmenu{
		display: flex;
		border-radius: 10px;
		border: 1px solid #fff;
		width: 12%;
		margin: 0px 10px;
	}
	.bi-list{
		color: #fff;
	}
	#contentheader{
		display: none;
		background-color: #0099D9;
	}
	#checkbtn:checked ~ #contentheader{
		display: flex;
	}
	header{
		background-color: #0099D9;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		height: auto;
		position: none;
		z-index: 100;
		padding-bottom: 30px;
		margin-top: 10px;
	}
	header img{
		display: none;
	}
	.nav{
		width: 100%;
		margin: 0px 0px 20px 0%;
		display: flex;
		flex-direction: column;
	}
	.nav-item{
		width: 100%;
	}
	.dropdown-toggle{
		color: #fff;
	}
	.nav-item:hover{
		background-color: #fff;
	}
	.dropdown-menu{
		float: right;
	}
	.btn-ins{
		margin: 20px 2% 20px 17%;
		width: 100px;
		border-radius: 30px;
		background-color: #fff;
		color: #000;
	}
	.btn-search{
		width: 10%;
		margin: 20px 0px 20px 0%;
	}
	.bi-search{
		width: 100%;
		color: #fff;
	}
	.bi-search:hover{
		color: #000;
	}
	#collapseExample{
		width: 100%;
	}
	.buscar{
		position: absolute;
		width: 100%;
		background-color: #0098D8;
		top: 313px;
		z-index: 99;
	}
	.card{
		border-radius: 0px;
		background-color: transparent;
		border: 0px;
		width: 100%;
	}
	.btn-close-white{
		width: 5%;
		margin-left: 90%;
		margin-bottom: 10px;
	}
	.container-fluid{
		width: 100%;
		display: flex;
		flex-direction: row;
		background-color: transparent;
	}
	.form-control{
		width: 90%;
		padding: 20px;
	}
	.btn-outline-info{
		width: 10%;
	}
	.contsearch{
		width: 90%;
		margin: 0px 5%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		color: #fff;
		font-size: 12pt;
		padding: 15px 0px 20px 0px;
		font-family: AEmb , Helvetica, Arial, sans-serif;
	}
	.contsearch span{
		margin-left: 0px;
		width: 80%;
	}
	.vdr{
		color: #fff;
		width: 80%;
		transition-property: all;
		transition-duration: 1s;
	}
	.cpa{
		color: #fff;
		width: 80%;
		transition-property: all;
		transition-duration: 1s;
	}
	#inicio{
		width: 100%;
	}
	.img-f{
		width: 100%;
	}
	.n11{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.n11-2{
		width: 100%;
	}
	.n11 h1{
		width: 100%;
		text-align: center;
		margin: 80px 0px 30px 0%;
		font-family: 'PT Sans', sans-serif;
		font-size: 50px;
		color: #232f3e;
	}
	.n11 a{
		width: 200px;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 22px;
		text-decoration: none;
		background-color: #0098D8;
		color: #fff;
		text-align: center;
	    border-radius: 50px;
	    margin: 0px auto 20px auto;
	    padding: 15px 30px;
	}
	.n11 span{
		width: 100%;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 14px;
		color: #232f3e;
		margin-bottom: 30px;
		text-align: center;
		margin-left: 0%;
	}
	.n22{
		width: 100%;
		display: flex;
		flex-direction: row;
	    background-color: #EBF8FA;
		padding: 50px 0px 20px 0px;
	}
	.p-3{
		background-color: #fff;
		border-radius: 10px;
		height: 410px;
		margin-bottom: 30px;
	}
	.n33{
		width: 100%;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	.conts{
		padding: 20px 0px;
	}
	.slcont{
		width: 88%;
		margin: 0px 6%;
		padding-bottom: 50px;
		border-bottom: 1px solid #a9a9a9;
	}
	.btn-link{
		width: 100%
	}
	.btn-link img{
		width: 100%;
		border-radius: 10px;
	}
	.txsli{
		width: 100%;
		margin: 0px;
	}
	.slcont-o{
		width: 100%;
	}
	.s1{
		width: 90%;
		margin-top: 12px;
	}
	.carousel-control-prev{
		width: 30px;
		height: 30px;
		padding: 5px;
		border-radius: 100%;
		border: 1px solid #fff;
	}
	.carousel-control-next{
		width: 30px;
		height: 30px;
		padding: 5px;
		border-radius: 100%;
		border: 1px solid #fff;
	}
	.modal{
		color: #000;
		background-color: transparent;
	}
	.ifsl{
		width: 100%;
	}
	.register{
		width: 100%;
	    background-color: #EBF8FA;
		display: flex;
		flex-direction: column;
		height: 200px;
		padding: 50px 0px;
	}
	.rgl1{
		width: 90%;
		display: flex;
		flex-direction: row;
	}
	.rgl2{
		width: 90%;
		display: flex;
		flex-direction: row;
	}
	.h61{
		width: 100%;
		text-align: right;
	}
	.lire{
		width: 100%;
		display: flex;
		flex-direction: row;
		text-decoration: none;
		transition-property: color, padding;
		transition-duration:  0.5s;
		color: #000;
	}
	.lire:hover{
		color: #0098D8;
		padding: 0px 0px 0px 10px;
	}
	.h62{
		width: 99%;
		margin-left: 30px;
		margin-right: 0px;
	}
	.h62:hover{
		color: #000;
	}
	.suscribir{
		width: 100%;
		padding: 30px 0px 0px 0px;
	}
	.container-s{
		width: 100%;
		margin-left: 0%;
	}
	.container-s form{
		width: 90%;
		margin: 0px 5%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.s-h1{
		width: 100%;
		font-size: 40pt;
		margin-bottom: 30px;
		text-align: center;
	}
	.s-h5{
		width: 100%;
		color: rgba(0, 0, 0, 0.7);
		margin-bottom: 20px;
		text-align: center;
	}
	.s-email{
		width: 80%;
		margin: 0px 10%;
	    background-color: #EBF8FA;
	    border-left-right-top: 0px solid transparent;
	    border-bottom: 1px solid #000;
	    padding: 10px;
		font-size: 14px;
		border-radius: 30px;
		margin-bottom: 10px;
	}
	.s-suscribir{
		width: 25%;
		border-radius: 30px;
		background-color: #fff;
		border: 2px solid #000;
		color: #000;
		margin-left: 5%;
		margin-bottom: 10px;
	}
	.s-span{
		width: 100%;
		font-size: 11px;
		text-align: center;
	}
	footer{
		width: 100%;
		background-color: #161E2D;
	}
	.f1{
		width: 90%;
		margin: 0px 5%;
		padding-left: 0%;
		border-bottom: 2px solid #6C7778;
	}
	.btn-foo{
		width: 300px;
		color: #fff;
		margin: 20px 0px;
	}
	.btn-foo:hover{
		background-color: #232F3E;
		border-radius: 20px;
		color: #fff;
	}
	.mundo{
		width: 10%;
		border-radius: 100%;
	}
	.eu{
		width: 10%;
	}

	#f2{
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-top: 3px solid #6C7778;
		border-bottom: 3px solid #6C7778;
		margin: 0px 5%;
		padding: 20px 0px;
	}
	.c1{
		width: 100%;
		list-style: none;
	}
	.c2{
		width: 100%;
		list-style: none;
	}
	.c3{
		width: 100%;
		list-style: none;
	}
	.c4{
		width: 100%;
		list-style: none;
	}
	.c5{
		width: 100%;
		list-style: none;
	}
	.titulo{
		width: 100%;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 10pt;
		color: #fff;
		text-align: center;
	}
	.url{
		width: 100%;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 10pt;
		color: #fff;
		text-decoration: none;
	}
	.url:hover{
		border-bottom: 2px solid #0099D9;
		color: #fff;
	}
	.f3{
		width: 90%;
		margin: 0px 5%;
		padding: 20px 0px;
		display: flex;
		flex-direction: column;
	}
	.f3 img{
		width: 50%;
		opacity: 0.7;
		margin: 0px 25%;
	}
	#footer-content{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-left: 0%;
		margin-top: 20px;
	}
	#footer-content a{
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 9pt;
		width: 25%;
		text-align: center;
		color: #fff;
		text-decoration: none;
		padding-top: 20px;
	}
	#footer-content a:hover{
		border-bottom: 2px solid #0099D9;
	}
	#footer-content p{
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 9pt;
		width: 50%;
		text-align: center;
		color: #fff;
		padding-top: 20px;
	}
	form{
		width: 100%;
		background-color: #fff;
		padding: 40px 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	form span{
		width: 90%;
	    margin-left: 5%;
	    font-size: 12pt;
	}
	.estrellas{
		width: 90%;
	    margin-left: 5%;
		display: flex;
		flex-direction: row;
		margin-bottom: 50px;
		margin-top: 15px;
	}
	.estrellas input{
		width: 10%;
		display: none;
	}
	.estrellas label{
		width: 50px;
		height: 50px;
		margin: 0px 0px 0px 10px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 100%;
	}
	.estrellas label .est{
		width: 100%;
		height: 100%;
		clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
		background-color: #fff;
	}
	.estrellas label .est:hover{
		background-color: #daa520;
	}
	.rea select{
		width: 60%;
		border: 1px solid #000;
		border-radius: 5px;
	    margin-left: 5%;
	    padding: 20px 10px;
	    margin-right: 44%;
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
	.rea select option{
		width: 80%;
	    margin-left: 5%;
	    padding: 20px 10px;
	}
	.rea textarea{
		width: 80%;
	    margin-left: 10%;
	    margin-top: 15px;
	    border-radius: 5px;
	    border: 1px solid #000;
	    padding: 25px 15px 15px 15px;
	    height: 150px;
	    margin-right: 7%;
	}
	#privace{
		width: 50%;
		margin-top: 90px;
	}
	#privace p{
		width: 100%;
		border-radius: 5px;
		clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 56% 92%, 49% 100%, 41% 92%, 0 92%);
		padding: 15px 15px 30px 15px;
		background-color: #232F3E;
		color: #fff;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		display: none;
	}
	#privace a{
		width: 100%;
	    margin-left: 10%;
	    color: #636D6e;
	}
	#enviar{
		width: 100px;
	    margin-left: 10%;
	    background-color: #636D6e;
	    color: #fff;
	    font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 18px;
		border-radius: 50px;
		padding: 10px 0px;
		margin-top: 80px;
	}
	.idm{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.idmf{
		text-align: center;
	} 
	.idmbody{
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.idioma{
		width: 50%;
		cursor: pointer;
	}
	.idioma:hover{
		border-left: 3px solid #0099D9;
	}
	.form-check-label img{
		width: 20px;
	}
}

/*Responsive en tablet*/

@media only screen and (min-device-width : 601px) and (max-device-width : 1270px){
	#header{
		background-color: #0099D9;
		width: 100%;
		padding: 10px 0px;
		position: absolute;
		z-index: 110;
	}
	.btnmenu{
		display: flex;
		border-radius: 10px;
		border: 1px solid #fff;
		width: 40px;
		margin: 0px 10px;
	}
	.bi-list{
		color: #fff;
	}
	#contentheader{
		display: none;
		background-color: #0099D9;
	}
	#checkbtn:checked ~ #contentheader{
		display: flex;
	}
	header{
		background-color: #0099D9;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		height: auto;
		position: none;
		z-index: 100;
		padding-bottom: 30px;
		margin-top: 8px;
	}
	header img{
		display: none;
	}
	.nav{
		width: 100%;
		margin: 0px 0px 20px 0%;
		display: flex;
		flex-direction: column;
	}
	.nav-item{
		width: 100%;
	}
	.dropdown-toggle{
		color: #fff;
	}
	.nav-item:hover{
		background-color: #fff;
	}
	.dropdown-menu{
		float: right;
	}
	.btn-ins{
		margin: 20px 2% 20px 17%;
		width: 100px;
		border-radius: 30px;
		background-color: #fff;
		color: #000;
	}
	.btn-search{
		width: 10%;
		margin: 20px 0px 20px 0%;
	}
	.bi-search{
		width: 100%;
		color: #fff;
	}
	.bi-search:hover{
		color: #000;
	}
	#collapseExample{
		width: 100%;
	}
	.buscar{
		position: absolute;
		width: 100%;
		background-color: #0098D8;
		top: 310px;
		z-index: 99;
	}
	.card{
		border-radius: 0px;
		background-color: transparent;
		border: 0px;
		width: 100%;
	}
	.btn-close-white{
		width: 5%;
		margin-left: 90%;
		margin-bottom: 10px;
	}
	.container-fluid{
		width: 100%;
		display: flex;
		flex-direction: row;
		background-color: transparent;
	}
	.form-control{
		width: 90%;
		padding: 20px;
	}
	.btn-outline-info{
		width: 10%;
	}
	.contsearch{
		width: 90%;
		margin: 0px 5%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		color: #fff;
		font-size: 12pt;
		padding: 15px 0px 20px 0px;
		font-family: AEmb , Helvetica, Arial, sans-serif;
	}
	.contsearch span{
		margin-left: 0px;
		width: 80%;
	}
	.vdr{
		color: #fff;
		width: 80%;
		transition-property: all;
		transition-duration: 1s;
	}
	.cpa{
		color: #fff;
		width: 80%;
		transition-property: all;
		transition-duration: 1s;
	}
	#inicio{
		width: 100%;
	}
	.img-f{
		width: 100%;
	}
	.n11{
		width: 60%;
		display: flex;
		flex-direction: column;
	}
	.n11-2{
		width: 40%;
	}
	.n11 h1{
		width: 100%;
		text-align: center;
		margin: 80px 0px 30px 0%;
		font-family: 'PT Sans', sans-serif;
		font-size: 50px;
		color: #232f3e;
	}
	.n11 a{
		width: 200px;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 22px;
		text-decoration: none;
		background-color: #0098D8;
		color: #fff;
		text-align: center;
	    border-radius: 50px;
	    margin: 0px auto 20px auto;
	    padding: 15px 30px;
	}
	.n11 span{
		width: 100%;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 14px;
		color: #232f3e;
		margin-bottom: 30px;
		text-align: center;
		margin-left: 0%;
	}
	.n22{
		width: 100%;
		display: flex;
		flex-direction: row;
	    background-color: #EBF8FA;
		padding: 50px 0px 20px 0px;
	}
	.p-3{
		background-color: #fff;
		border-radius: 10px;
		height: 410px;
		margin-bottom: 30px;
	}
	.n33{
		width: 100%;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	.conts{
		padding: 20px 0px;
	}
	.slcont{
		width: 88%;
		margin: 0px 6%;
		padding-bottom: 50px;
		border-bottom: 1px solid #a9a9a9;
	}
	.btn-link{
		width: 100%
	}
	.btn-link img{
		width: 100%;
		border-radius: 10px;
	}
	.txsli{
		width: 100%;
		margin: 0px;
	}
	.slcont-o{
		width: 100%;
	}
	.s1{
		width: 90%;
		margin-top: 12px;
	}
	.carousel-control-prev{
		width: 30px;
		height: 30px;
		padding: 5px;
		border-radius: 100%;
		border: 1px solid #fff;
	}
	.carousel-control-next{
		width: 30px;
		height: 30px;
		padding: 5px;
		border-radius: 100%;
		border: 1px solid #fff;
	}
	.modal{
		color: #000;
		background-color: transparent;
	}
	.ifsl{
		width: 100%;
	}
	.register{
		width: 100%;
	    background-color: #EBF8FA;
		display: flex;
		flex-direction: row;
		height: 150px;
		padding: 50px 0px;
	}
	.rgl1{
		width: 50%;
		display: flex;
		flex-direction: row;
	}
	.rgl2{
		width: 50%;
		display: flex;
		flex-direction: row;
	}
	.h61{
		width: 100%;
		text-align: right;
	}
	.lire{
		width: 80%;
		display: flex;
		flex-direction: row;
		text-decoration: none;
		transition-property: color, padding;
		transition-duration:  0.5s;
		color: #000;
	}
	.lire:hover{
		color: #0098D8;
		padding: 0px 0px 0px 10px;
	}
	.bi-box-arrow-up-right{
		width: 5%;
	}
	.h62{
		width: 99%;
		margin-left: 30px;
		margin-right: 0px;
	}
	.h62:hover{
		color: #000;
	}
	.suscribir{
		width: 100%;
		padding: 30px 0px 0px 0px;
	}
	.container-s{
		width: 100%;
		margin-left: 0%;
	}
	.container-s form{
		width: 90%;
		margin: 0px 5%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.s-h1{
		width: 100%;
		font-size: 40pt;
		margin-bottom: 30px;
		text-align: center;
	}
	.s-h5{
		width: 100%;
		color: rgba(0, 0, 0, 0.7);
		margin-bottom: 20px;
		text-align: center;
	}
	.s-email{
		width: 80%;
		margin: 0px 10%;
	    background-color: #EBF8FA;
	    border-left-right-top: 0px solid transparent;
	    border-bottom: 1px solid #000;
	    padding: 10px;
		font-size: 14px;
		border-radius: 30px;
		margin-bottom: 10px;
	}
	.s-suscribir{
		width: 25%;
		border-radius: 30px;
		background-color: #fff;
		border: 2px solid #000;
		color: #000;
		margin-left: 5%;
		margin-bottom: 10px;
	}
	.s-span{
		width: 100%;
		font-size: 11px;
		text-align: center;
	}
	footer{
		width: 100%;
		background-color: #161E2D;
	}
	.f1{
		width: 90%;
		margin: 0px 5%;
		padding-left: 0%;
		border-bottom: 2px solid #6C7778;
	}
	.btn-foo{
		width: 30%;
		color: #fff;
		margin: 20px 0px;
	}
	.btn-foo:hover{
		background-color: #232F3E;
		border-radius: 20px;
		color: #fff;
	}
	.mundo{
		width: 10%;
		border-radius: 100%;
	}
	.eu{
		width: 10%;
	}

	#f2{
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-top: 3px solid #6C7778;
		border-bottom: 3px solid #6C7778;
		margin: 0px 5%;
		padding: 20px 0px;
	}
	.c1{
		width: 100%;
		list-style: none;
		text-align: center;
	}
	.c2{
		width: 100%;
		list-style: none;
		text-align: center;
	}
	.c3{
		width: 100%;
		list-style: none;
		text-align: center;
	}
	.c4{
		width: 100%;
		list-style: none;
		text-align: center;
	}
	.c5{
		width: 100%;
		list-style: none;
		text-align: center;
	}
	.titulo{
		width: 100%;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 10pt;
		color: #fff;
		text-align: center;
	}
	.url{
		width: 100%;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 10pt;
		color: #fff;
		text-decoration: none;
		text-align: center;
	}
	.url:hover{
		border-bottom: 2px solid #0099D9;
		color: #fff;
	}
	.f3{
		width: 90%;
		margin: 0px 5%;
		padding: 20px 0px;
		display: flex;
		flex-direction: column;
	}
	.f3 img{
		width: 50%;
		opacity: 0.7;
		margin: 0px 25%;
	}
	#footer-content{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-left: 0%;
		margin-top: 20px;
	}
	#footer-content a{
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 9pt;
		width: 25%;
		text-align: center;
		color: #fff;
		text-decoration: none;
		padding-top: 20px;
	}
	#footer-content a:hover{
		border-bottom: 2px solid #0099D9;
	}
	#footer-content p{
		font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 9pt;
		width: 50%;
		text-align: center;
		color: #fff;
		padding-top: 20px;
	}
	form{
		width: 100%;
		background-color: #fff;
		padding: 40px 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	form span{
		width: 90%;
	    margin-left: 5%;
	    font-size: 12pt;
	}
	.estrellas{
		width: 90%;
	    margin-left: 5%;
		display: flex;
		flex-direction: row;
		margin-bottom: 50px;
		margin-top: 15px;
	}
	.estrellas input{
		width: 10%;
		display: none;
	}
	.estrellas label{
		width: 50px;
		height: 50px;
		margin: 0px 0px 0px 10px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 100%;
	}
	.estrellas label .est{
		width: 100%;
		height: 100%;
		clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
		background-color: #fff;
	}
	.estrellas label .est:hover{
		background-color: #daa520;
	}
	.rea select{
		width: 60%;
		border: 1px solid #000;
		border-radius: 5px;
	    margin-left: 5%;
	    padding: 20px 10px;
	    margin-right: 44%;
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
	.rea select option{
		width: 80%;
	    margin-left: 5%;
	    padding: 20px 10px;
	}
	.rea textarea{
		width: 80%;
	    margin-left: 10%;
	    margin-top: 15px;
	    border-radius: 5px;
	    border: 1px solid #000;
	    padding: 25px 15px 15px 15px;
	    height: 150px;
	    margin-right: 7%;
	}
	#privace{
		width: 50%;
		margin-top: 90px;
	}
	#privace p{
		width: 100%;
		border-radius: 5px;
		clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 56% 92%, 49% 100%, 41% 92%, 0 92%);
		padding: 15px 15px 30px 15px;
		background-color: #232F3E;
		color: #fff;
		font-family: AEmb , Helvetica, Arial, sans-serif;
		display: none;
	}
	#privace a{
		width: 100%;
	    margin-left: 10%;
	    color: #636D6e;
	}
	#enviar{
		width: 100px;
	    margin-left: 10%;
	    background-color: #636D6e;
	    color: #fff;
	    font-family: AEmb , Helvetica, Arial, sans-serif;
		font-size: 18px;
		border-radius: 50px;
		padding: 10px 0px;
		margin-top: 80px;
	}
	.idm{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.idmf{
		text-align: center;
	} 
	.idmbody{
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.idioma{
		width: 50%;
		cursor: pointer;
	}
	.idioma:hover{
		border-left: 3px solid #0099D9;
	}
	.form-check-label img{
		width: 20px;
	}
}