*{
	margin: 0;
	border: 0;
	padding: 0;
    font-family: AEmb , Helvetica, Arial, sans-serif;
}
body{
	width: 100%
}
#contenedor{
	width: 100%;
    background-color: #0079af;
}
h1{
	width: 90%;
	color: #fff;
    padding: 20px 0px;
    margin-left: 10%;
    font-family: AEmb , Helvetica, Arial, sans-serif;
    font-size: 30pt;
}
form{
	width: 100%;
	background-color: #fff;
	padding: 40px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
form span{
	width: 90%;
    margin-left: 10%;
    font-size: 16pt;
}
.estrellas{
	width: 90%;
    margin-left: 10%;
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	margin-top: 15px;
}
.estrellas input{
	width: 10%;
	display: none;
}
.estrellas label{
	width: 50px;
	height: 50px;
	margin: 0px 0px 0px 10px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
}
.estrellas label .est{
	width: 100%;
	height: 100%;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background-color: #fff;
}
.estrellas label .est:hover{
	background-color: #daa520;
}
form select{
	width: 39%;
	border: 1px solid #000;
	border-radius: 5px;
    margin-left: 10%;
    padding: 20px 10px;
    margin-right: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}
form select option{
	width: 80%;
    margin-left: 5%;
    padding: 20px 10px;
}
form textarea{
	width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 25px 15px 15px 15px;
    height: 150px;
    margin-right: 7%;
}
#privace{
	width: 50%;
	margin-top: 90px;
}
#privace p{
	width: 100%;
	border-radius: 5px;
	clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 56% 92%, 49% 100%, 41% 92%, 0 92%);
	padding: 15px 15px 30px 15px;
	background-color: #232F3E;
	color: #fff;
	font-family: AEmb , Helvetica, Arial, sans-serif;
	display: none;
}
#privace a{
	width: 100%;
    margin-left: 10%;
    color: #636D6e;
}
#enviar{
	width: 100px;
    margin-left: 10%;
    background-color: #636D6e;
    color: #fff;
    font-family: AEmb , Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 50px;
	padding: 10px 0px;
	margin-top: 80px;
}